Physician Directory/Physician Directory/Service References/ServiceReference1/MyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55988/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PhysicianDirectoryService" />
  <xs:element name="GetPhysician">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PhysicianDirectoryService" minOccurs="0" name="GetPhysicianResult" nillable="true" type="q1:ArrayOfPhysician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhysician">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HomeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OfficeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OfficePhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CellphoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
        <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPhysicianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPhysicianResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicianById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicianByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PhysicianDirectoryService" minOccurs="0" name="GetPhysicianByIdResult" nillable="true" type="q2:Physician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhysician">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HomeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OfficeAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OfficePhone" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CellphoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BirthDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:double" />
        <xs:element minOccurs="0" name="Height" nillable="true" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePhysicianResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePhysicianResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhysicianById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePhysicianByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePhysicianByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicianByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicianByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PhysicianDirectoryService" minOccurs="0" name="GetPhysicianByNameResult" nillable="true" type="q3:ArrayOfPhysician" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>